.demo-section {
    padding: 20px 25px;
    margin: 0 auto;
}

.example-title,
.example-subtitle,
.metric,
.example-description,
.stat dd {
    font-family: 'Open Sans Condensed', Verdana, sans-serif;
}

.example-title,
.example-subtitle {
    text-transform: uppercase;
}

.example-title {
    color: #2b8abe;
    font-size: 48px;
    font-weight: 300;
}

    .example-title span,
    .first dd {
        font-weight: 700;
    }

.example-description {
    font-size: 18px;
    font-weight: 300;
    color: #1a364a;
}

.example-subtitle {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 0;
}

.metric {
    display: block;
    text-transform: none;
    font-weight: 300;
    font-size: 12px;
    color: #727f8e;
    margin: 0;
}

.example-title,
.example-description {
    display: inline-block;
    margin: 0;
}

#chart-type-chooser {
    float: right;
    margin-right: .2%;
    width: 170px;
    text-align: right;
    line-height: 32px;
    margin-top: -30px;
}

.radio-group-label {
    margin-right: 12px;
    color: #727f8e;
}

.radio-group {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}

    .radio-group > li {
        display: inline-block;
        *display: inline;
        zoom: 1;
    }

    .radio-group label {
        width: 32px;
        height: 32px;
        background: #b3bbc5 no-repeat center center;
        display: inline-block;
        border-radius: 16px;
        overflow: hidden;
        font: 0/0;
        color: transparent;
    }

    .radio-group input {
        display: none;
    }

        .radio-group input:checked + label {
            background-color: #2b8abe;
        }

    .radio-group label[for="chart-type-area"],
    .radio-group label[htmlFor="chart-type-area"] {
        background-image: url("../../../dataviz/dashboards/area-chart.png");
    }

    .radio-group label[for="chart-type-line"],
    .radio-group label[htmlFor="chart-type-line"] {
        background-image: url("../../../dataviz/dashboards/line-chart.png");
    }

.stat .eoy-closing {
    font-size: 110px;
    line-height: 1em;
    letter-spacing: -2px;
    text-indent: -8px;
    color: #454447;
}

.stat .volume {
    font-size: 72px;
    color: #454447;
}

.filtering-tabs {
    border: 0;
    background: none;
}

    .filtering-tabs .k-tabstrip-items {
        padding: 0;
    }

    .filtering-tabs .k-item {
        width: 19.8%;
        border: 0;
        margin: 0 .2% 0 0;
        padding: 0 0 4px;
        text-align: center;
        cursor: pointer;
        background: none;
        border-bottom: 4px solid #b3bbc5;
        font: 16px/2em Arial,sans-serif;
        color: #727f8e;
    }

    .filtering-tabs .k-state-hover {
        color: #2e2e2e;
        background: none;
    }

    .filtering-tabs .k-state-active {
        padding: 0;
        color: #2b8abe;
        border-bottom: 8px solid #2b8abe;
    }

    .filtering-tabs .k-link {
        padding: 0;
    }

#yearly-stock-prices {
    height: 200px;
    margin-top: 20px;
    clear: both;
}

#company-filtering-tabs .k-item {
    width: 32.8%;
    margin: 4px .5% 0 0;
}

.stat dd {
    margin: 0;
}

.stat,
#relative-value-pie,
.company-trends {
    margin: 1em 0 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.company-trends {
    margin-left: 27px;
}

.trend-container {
    background: transparent none no-repeat 100% 29px;
    width: 120px;
    margin-right: 27px;
}

.lowest-container {
    background: transparent url("../../../dataviz/dashboards/lowest.png") no-repeat 100% 37px;
}

.highest-container {
    background: transparent url("../../../dataviz/dashboards/highest.png") no-repeat 100% 29px;
}

dd.highest,
dd.lowest,
dd.relative-value {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
}

.lowest {
    color: #cd151e;
}

.highest {
    color: #639514;
}

.relative-value {
    color: #4da3d5;
}

dd.sparkline .k-sparkline {
    height: 40px;
    width: 120px;
    margin-top: -5px;
}

.separator {
    height: 1px;
    background: #b3bbc5;
}

#relative-value-pie {
    width: 110px;
    height: 100px;
    margin-left: -10px;
}

#volume-chart {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 615px;
    height: 136px;
    vertical-align: top;
    margin: 1.2em 0 0 4em;
}

.k-content.k-state-active {
    border: none;
}
