@* Copyright (C) 2022-present Jube Holdings Limited
 *
 * This file is part of Jube™ software.
 *
 * Jube™ is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Jube™ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty  
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License along with Jube™. If not, 
 * see <https://www.gnu.org/licenses/>.
 *@
@page
@model Jube.App.Pages.Model.Frame.CaseWorkflowForm

@{
    Layout = null;
}

<script src="/js/CRUD.js"></script>
<script src="/js/Model/Frame/CaseWorkflowForm.js"></script>

<form id="Form" class="k-form">
    <body>
    <div class="fCStyle">
        <table id="TemplateTable" class="tTStyle">
            <tr>
                <td>
                    <label for="Name">Name</label>
                </td>
                <td>
                    <input type="text" id="Name" class="k-textbox large" name="Name" required validationMessage="Please enter a valid Name.">
                    <span class="k-invalid-msg" data-for="Name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Active" class="k-checkbox-label">Active</label>
                </td>
                <td>
                    <input id="Active" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Locked" class="k-checkbox-label">Locked</label>
                </td>
                <td>
                    <input id="Locked" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td class="DescriptionCell-Style"><label>Form HTML</label></td>
                <td>
                    <div id="coder" class="coder"></div>
                    <div id="CompiledHTML" class="scroll-div"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="EnableHttpEndpoint">HTTP Endpoint</label>
                </td>
                <td>
                    <input id="EnableHttpEndpoint" type="checkbox" />
                    <table id="HttpEndpointTable" class="sTStyle">
                        <tr>
                            <td class="sTBorderStyle">
                                <label for="HttpEndpointTypeId">HTTP Endpoint Type</label>
                            </td>
                            <td>
                                <ul id="HttpEndpointTypeId" class="fieldlist">
                                    <li>
                                        <input type="radio" class="k-radio" checked name="HttpEndpointTypeId" id="POST" value="1"/>
                                        <label class="k-radio-label" for="POST">POST</label>
                                    </li>
                                    <li>
                                        <input type="radio" class="k-radio" name="HttpEndpointTypeId" id="GET" value="2">
                                        <label class="k-radio-label" for="GET">GET</label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="sTBorderStyle">
                                <label for="HttpEndpoint">HTTP Endpoint</label>
                            </td>
                            <td>
                                <input type="text" id="HttpEndpoint" class="k-textbox" name="HttpEndpoint"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="DescriptionCell-Style">
                    <label for="EnableNotification">Notification</label>
                </td>
                <td>
                    <input id="EnableNotification" type="checkbox"/>
                    <table id="NotificationTable" class="sTStyle">
                        <tr>
                            <td class="sTBorderStyle"><label for="NotificationTypeId">Type</label></td>
                            <td>
                                <ul id="NotificationTypeId" class="fieldlist">
                                    <li>
                                        <input type="radio" class="k-radio" id="NotificationEmail" checked value="1" name="NotificationTypeId"/> 
                                        <label class="k-radio-label" for="NotificationEmail">Email</label>
                                    </li>
                                    <li>
                                        <input type="radio" class="k-radio" id="NotificationSMS" value="2" name="NotificationTypeId"/> 
                                        <label class="k-radio-label" for="NotificationSMS">SMS</label>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="sTBorderStyle">
                                <label for="NotificationDestination">Destination</label>
                            </td>
                            <td>
                                <input id="NotificationDestination" class="k-textbox" />
                            </td>
                        </tr>
                        <tr>
                            <td class="sTBorderStyle">
                                <label for="NotificationSubject">Subject</label>
                            </td>
                            <td>
                                <input id="NotificationSubject" class="k-textbox" />
                            </td>
                        </tr>
                        <tr>
                            <td class="sTBorderStyle"><label for="NotificationBody">Body</label></td>
                            <td>
                                <textarea id="NotificationBody"></textarea>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Version">Version</label>
                </td>
                <td>
                    <div id="Version"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CreatedUser">User Created</label>
                </td>
                <td>
                    <div id="CreatedUser"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CreatedDate">Created Date</label>
                </td>
                <td>
                    <div id="CreatedDate"></div>
                </td>
            </tr>
        </table>
        <div class="footerStyle">
            <div id="ErrorMessage" class="errorMessage"></div>
            <button type="button" id="Add" class="ButtonDefault">Add</button> 
            <button type="button" id="Update" class="ButtonDefault">Update</button> 
            <button type="button" id="Delete" class="ButtonDefault">Delete</button>
        </div>
    </div>
    </body>
</form>