@* Copyright (C) 2022-present Jube Holdings Limited
 *
 * This file is part of Jube™ software.
 *
 * Jube™ is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Jube™ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty  
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License along with Jube™. If not, 
 * see <https://www.gnu.org/licenses/>.
 *@
@page
@model Jube.App.Pages.Model.Frame.EntityAnalysisModelList

@{
    Layout = null;
}

<script src="/js/CRUD.js"></script>
<script src="/js/Model/Frame/EntityAnalysisModelList.js"></script>

<form id="Form" class="k-form">
    <body>
    <div class="fCStyle">
        <table id="TemplateTable" class="tTStyle">
            <tr>
                <td>
                    <label for="Name">Name</label>
                </td>
                <td>
                    <input type="text" id="Name" class="k-textbox large" name="Name" required validationMessage="Please enter a valid Name.">
                    <span class="k-invalid-msg" data-for="Name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Active" class="k-checkbox-label">Active</label>
                </td>
                <td>
                    <input id="Active" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Locked" class="k-checkbox-label">Locked</label>
                </td>
                <td>
                    <input id="Locked" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Version">Version</label>
                </td>
                <td>
                    <div id="Version"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CreatedUser">User Created</label>
                </td>
                <td>
                    <div id="CreatedUser"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CreatedDate">Created Date</label>
                </td>
                <td>
                    <div id="CreatedDate"></div>
                </td>
            </tr>
        </table>
        <div class="footerStyle">
            <div class="bottomPaddedGeneral">
                <div class="bottomPaddedGeneral">
                    <div id="ErrorMessage" class="errorMessage"></div>
                    <button type="button" id="Add" class="ButtonDefault">Add</button> 
                    <button type="button" id="Update" class="ButtonDefault">Update</button> 
                    <button type="button" id="Delete" class="ButtonDefault">Delete</button> 
                    <button type="button" id="AddValue" class="ButtonDefault">Add Value</button>            
                </div>
                <div id="FilesDiv" class="filesStyle">
                    <input name="Files" id="Files" type="file" aria-label="Files"/>
                </div>
            </div>
            <div id="ListValuesDiv" class="filesStyle">
                <div class="k-content wide">
                    <div id="listView"></div>
                </div>
                <script type="text/x-kendo-tmpl" id="template">
                    <div class="listView k-widget">
                        <dl>
                            <dd>#:listValue#</dd>
                        </dl>
                        <div class="edit-buttons">
                            <a class="k-button k-edit-button" href="\\#"><span class="k-icon k-i-edit"></span></a>
                            <a class="k-button k-delete-button" href="\\#"><span class="k-icon k-i-delete"></span></a>
                        </div>
                    </div>
                </script>
                <script type="text/x-kendo-tmpl" id="editTemplate">
                    <div class="listView k-widget">
                        <dl>
                            <dd><input type="text" class="k-textbox" data-bind="value:listValue" name="ListValue" required validationMessage="Please enter a value for this list."/></dd>
                        </dl>
                        <div class="edit-buttons">
                            <a class="k-button k-update-button" href="\\#"><span class="k-icon k-i-check"></span></a>
                            <a class="k-button k-cancel-button" href="\\#"><span class="k-icon k-i-cancel"></span></a>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
    </body>
</form>