@* Copyright (C) 2022-present Jube Holdings Limited
 *
 * This file is part of Jube™ software.
 *
 * Jube™ is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Jube™ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty  
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License along with Jube™. If not, 
 * see <https://www.gnu.org/licenses/>.
 *@
@page
@model Jube.App.Pages.Sanction.Search
@{
    Layout = "Shared/_Layout";
}
@section Scripts
{
    <script src="/js/Sanction/Search.js"></script>
}
<div class="fCStyle">
    <table id="ParamsTable" class="tTStyle">
        <tr>
            <td class="DescriptionCell-Style">
                <label for="MultiPartString">Multipart String</label>
            </td>
            <td>
                <input type="text" id="MultiPartString" class="k-textbox k-textboxmedium" name="MultiPartString"><span class="k-invalid-msg" data-for="MultiPartString"></span>
            </td>
        </tr>
        <tr>
            <td class="DescriptionCell-Style">
                <label for="Distance">Distance</label>
            </td>
            <td style="padding-bottom: 30px;">
                <div id="Distance" class="slider"></div>
            </td>
        </tr>
    </table>
    <div class="bottomPaddedGeneral topPaddedGeneral">
        <input type="button" id="Check" value="Check">
    </div>
    <div id="Sanctions"></div>
</div>