@* Copyright (C) 2022-present Jube Holdings Limited
 *
 * This file is part of Jube™ software.
 *
 * Jube™ is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Jube™ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty  
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License along with Jube™. If not, 
 * see <https://www.gnu.org/licenses/>.
 *@
@page
@model Jube.App.Pages.Administration.VisualisationRegistry
@{
    Layout = "Shared/_Layout";
}
@section Scripts
{
    <script src="/js/Administration/VisualisationRegistry.js"></script>
}
<div class="fCStyle">
    <div id="Homepage">
        <div id="Visualisations" class="bottomPaddedGeneral">
        </div>
        <button type="button" id="New" class="ButtonDefault">New</button>
    </div>
    <div id="Template">
        <form id="Form" class="k-form">
            <table id="TemplateTable" class="tTStyle">
                <tr>
                    <td>
                        <label for="Name">Name</label>
                    </td>
                    <td>
                        <input type="text" id="Name" class="k-textbox large" name="Name" required validationMessage="Please enter a valid name for the Model.">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Active" class="k-checkbox-label">Active</label>
                    </td>
                    <td>
                        <input id="Active" type="checkbox"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Locked" class="k-checkbox-label">Locked</label>
                    </td>
                    <td>
                        <input id="Locked" type="checkbox"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ShowInDirectory" class="k-checkbox-label">Show In Directory</label>
                    </td>
                    <td>
                        <input id="ShowInDirectory" type="checkbox"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Columns">Columns</label>
                    </td>
                    <td>
                        <input id="Columns" value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ColumnWidth">Column Width</label>
                    </td>
                    <td>
                        <input id="ColumnWidth" value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="RowHeight">Row Height</label>
                    </td>
                    <td>
                        <input id="RowHeight" value="0"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Version">Version</label>
                    </td>
                    <td>
                        <div id="Version"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CreatedUser">User Created</label>
                    </td>
                    <td>
                        <div id="CreatedUser"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="CreatedDate">Created Date</label>
                    </td>
                    <td>
                        <div id="CreatedDate"></div>
                    </td>
                </tr>
            </table>            
        </form>
        <div class="footerStyle">
            <div id="ErrorMessage" class="errorMessage"></div>
            <button type="button" id="Back" class="ButtonDefault">Back</button>
            <button type="button" id="Add" class="ButtonDefault">Add</button>
            <button type="button" id="Update" class="ButtonDefault">Update</button>
            <button type="button" id="Delete" class="ButtonDefault">Delete</button>
        </div>
    </div>
</div>