@* Copyright (C) 2022-present Jube Holdings Limited
 *
 * This file is part of Jube™ software.
 *
 * Jube™ is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Jube™ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty  
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License along with Jube™. If not, 
 * see <https://www.gnu.org/licenses/>.
 *@
@page
@model Jube.App.Pages.Administration.Frame.VisualisationRegistryParameter

@{
    Layout = null;
}

<script src="/js/CRUD.js"></script>
<script src="/js/Administration/Frame/VisualisationRegistryParameter.js"></script>

<form id="Form" class="k-form">
    <body>
    <div class="fCStyle">
        <table id="TemplateTable" class="tTStyle">
            <tr>
                <td>
                    <label for="Name">Name</label>
                </td>
                <td>
                    <input type="text" id="Name" class="k-textbox large" name="Name" required validationMessage="Please enter a valid Name.">
                    <span class="k-invalid-msg" data-for="Name"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Active" class="k-checkbox-label">Active</label>
                </td>
                <td>
                    <input id="Active" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Locked" class="k-checkbox-label">Locked</label>
                </td>
                <td>
                    <input id="Locked" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="DataType">Data Type</label>
                </td>
                <td>
                    <select id="DataType">
                        <option value="1" selected="selected">String</option>
                        <option value="2">Integer</option>
                        <option value="3">Float</option>
                        <option value="4">Date</option>
                        <option value="5">Boolean</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Default</label>
                </td>
                <td>
                <input type="text" id="DefaultValueString" class="k-textbox" name="DefaultValue"/>
                <input type="text" id="DefaultValueNumeric" name="DefaultValue" value="0"/>
                <div id="DivDefaultValueCheckbox">
                    <input id="DefaultValueCheckbox" name="DefaultValue" type="checkbox"/> 
                </div>
            </tr>
            <tr>
                <td>
                    <label for="Required">Required</label>
                </td>
                <td>
                    <input id="Required" type="checkbox"/> <label for="Required" class="k-checkbox-label"></label>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Version">Version</label>
                </td>
                <td>
                    <div id="Version"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CreatedUser">User Created</label>
                </td>
                <td>
                    <div id="CreatedUser"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CreatedDate">Created Date</label>
                </td>
                <td>
                    <div id="CreatedDate"></div>
                </td>
            </tr>
        </table>
        <div class="footerStyle">
            <div id="ErrorMessage" class="errorMessage"></div>
            <button type="button" id="Add" class="ButtonDefault">Add</button> 
            <button type="button" id="Update" class="ButtonDefault">Update</button> 
            <button type="button" id="Delete" class="ButtonDefault">Delete</button>
        </div>
    </div>
    </body>
</form>