@* Copyright (C) 2022-present Jube Holdings Limited
 *
 * This file is part of Jube™ software.
 *
 * Jube™ is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License 
 * as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 * Jube™ is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty  
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.

 * You should have received a copy of the GNU Affero General Public License along with Jube™. If not, 
 * see <https://www.gnu.org/licenses/>.
 *@
@page
@inject DynamicEnvironment.DynamicEnvironment DynamicEnvironment
@{
    var sandpit = DynamicEnvironment.AppSettings("EnableSandbox").Equals("True", StringComparison.OrdinalIgnoreCase);
}
<script src="/js/Account/Authentication.js"></script>
<form id="FormAuthenticate">
    @if (sandpit)
    {
        <h1>Login to The Sandbox!</h1>
        <p>
            The Sandbox offers a fully functional version of Jube, tailored for learning and training purposes. It leverages Jube's multi-tenancy capabilities to deliver the experience of an isolated environment, even though it operates on shared resources with logical data isolation. While the Visualization and Reporting features are limited to three example tables, the overall experience remains thorough and effective.
        </p>
        <p>
            To maximize your learning and training experience, we recommend using The Sandbox in conjunction with the official documentation.
        </p>
        <p>Support is available through two channels:</p>
        <ul>
            <li><strong>Ask Jooby</strong>, our AI assistant, located in the bottom right-hand corner.</li>
            <li><strong>Email</strong> at <a href="mailto:support@jube.io">support@jube.io</a>.</li>
        </ul>
        <p>Feel free to reach out using either option!</p>
        <hr/>
    }
    <table id="AuthenticationTable" class="tTStyle">
        <tr>
            <td>
                @if (!sandpit)
                {
                    <label for="UserName">User Name</label>
                }
                else
                {
                    <label for="UserName">Email</label>
                }
            </td>
            <td>
                <input type="text" id="UserName" name="UserName" class="k-textbox">
                @* ReSharper disable once Html.PathError *@
                @if (sandpit)
                {
                    <a href="SandboxRegistration">Register</a>
                }
            </td>
        </tr>
        <tr>
            <td>
                <label for="Password">Password</label>
            </td>
            <td>
                <input type="password" id="Password" name="Password" class="k-textbox">
            </td>
        </tr>
    </table>
</form>
<div class="topPaddedGeneral bottomPaddedGeneral">
    <br/>
    <button id="Login" type="submit">Log in</button>
    <span id="MessageAuthenticate"></span>
</div>
<div id="PasswordResetDiv">
    <form id="FormChange">
        <br/>
        <table id="PasswordResetTable" class="tTStyle">
            <tr>
                <td>
                    <label for="NewPassword">New Password</label>
                </td>
                <td>
                    <input type="password" id="NewPassword" name="NewPassword" class="k-textbox">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="VerifyNewPassword">Verify New Password</label>
                </td>
                <td>
                    <input type="password" id="VerifyNewPassword" name="VerifyNewPassword" class="k-textbox">
                </td>
            </tr>
        </table>
    </form>
    <br/>
    <div class="topPaddedGeneral">
        <button id="Change" type="submit">Change Password and Login</button> <span id="MessageChange"></span>
    </div>
</div>
@if (sandpit)
{
    <hr/>
    <p>
        Please note that The Sandbox and its support services are provided on a <strong>"best efforts" basis</strong> and are subject to the following conditions:
    </p>
    <ul>
        <li><strong>Use only test data</strong> within The Sandbox.</li>
        <li><strong>Do not use</strong> The Sandbox for real or production data.</li>
    </ul>
    <p>
        The Sandbox is designed as a helpful tool; however, it is provided <strong>WITHOUT ANY WARRANTY</strong>. This includes, but is not limited to, implied warranties of <strong>MERCHANTABILITY</strong> or <strong>FITNESS FOR A PARTICULAR PURPOSE</strong>.
    </p>
}