body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #555;
    font: 400 12px Arial, Helvetica, sans-serif;
    position: relative;
}

h3 {
    font: normal 16px/1.5 Arial,sans-serif;
    margin: 20px 0 13px;
}

#window-container .k-window {
    position: relative;
    top: 0 !important;
    left: 0 !important;
}

.column .k-chart,
.column .k-gauge {
    display: block;
    margin-bottom: 14px;
}

.column .k-gauge {
    margin-top: 130px;
}

.column {
    width: 29%;
    padding: 0 2%;
    margin: 0 0 2em;
    float: left;
}

.column .k-widget:not(.k-colorpicker) {
    display: block;
}

.column .k-widget {
    margin-bottom: 14px;
}

@media screen and (max-width: 980px) {
    .column {
        width: auto;
        float: none;
    }
}

#scheduler {
    clear: both;
    margin: 0 2% 3em;
}

.sub-column ul {
    width: 49%;
    display: inline-block;
}

.sub-column li {
    margin: 10px 0;
}